@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

@font-face {
  font-family: "Norse Regular";
  src: url("/fonts/Norse-Regular.woff2") format("woff2"),
       url("/fonts/Norse-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gotham Regular";
  src: url("/fonts/Gotham-Regular.woff2") format("woff2"),
       url("/fonts/Gotham-Regular.woff") format("woff");
}

@font-face {
  font-family: "Takoyaki Regular";
  src: url("/fonts/Takoyaki-Regular.woff2") format("woff2"),
       url("/fonts/Takoyaki-Regular.woff") format("woff");
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
=======
@tailwind utilities;
>>>>>>> ca897cea8e8ce0edd0761379ecfad1f5c221189c
